[Desktop Entry]
Name=Bombelium
Comment=The Spinning Bombelium!
Exec=bombelium
Icon=bombelium
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;Java;
StartupWMClass=Bombelium
